.tablenav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.tab-content.active {
  display: block;
}
.tab-content,
.wp-list-table tr.hide:not(.main) {
  display: none;
}
.dhn-filter input {
  max-width: 400px;
}
.wp-list-table th {
  cursor: pointer;
}
.wp-list-table th::after {
  content: " ▲";
  color: #c3c4c7;
}
.wp-list-table th[data-sort-order="desc"]::after {
  content: " ▼";
}
